<div>
    <p>
        The Iris dataset was used in R.A. Fisher's classic 1936 paper, The Use of Multiple Measurements in
        Taxonomic Problems, and can also be found on the UCI Machine Learning Repository.
    </p>
    <p>
        It includes thre iris species 'Setosa', 'Virginica' and 'Versicolor' with 50 samples each as well as some
        properties about each flower. One flower species is linearly separable from the other two,
        but the other two are not linearly separable from each other.
    </p>
    <p>We model the data set with one Target column (0 or 1, encoding class membership) and 4 feature columns:</p>
    <ul>
        <li>SepalLengthCm</li>
        <li>SepalWidthCm</li>
        <li>PetalLengthCm</li>
        <li>PetalWidthCm</li>
    </ul>
</div>