{% extends "base_generic.html" %}

{% block content %}
<h1>Authenticity Portal</h1>
<ul>
    <a href="{% url 'topic' topic='salmon' %}">
        <div class="col mt-5 btn btn-outline-primary rounded">
            <h3>Salmon</h3>
            <p>A delicous fish, often bred in captivity.</p>
        </div>
        <a href="{% url 'topic' topic='vanilla' %}">
            <div class="col mt-5 btn btn-outline-primary rounded">
                <h3>Vanilla</h3>
                <p>A common spice</p>
            </div>
        </a>
    </a>
</ul>
{% endblock %}