{% extends "base_generic.html" %}

{% block content %}
<div>
    <div class="mb-5 mt-5">
        <h1>Measurement details</h1>
        {% if perms.portal.view_measurement %}
        <dl class="row">
            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9">{{ object.name }}</dd>

            <dt class="col-sm-3">Data handler</dt>
            <dd class="col-sm-9">{{ object.data_handler }}</dd>

            <dt class="col-sm-3">Data source</dt>
            <dd class="col-sm-9">{{ object.source }}</dd>

            <dt class="col-sm-3">Time of measurement</dt>
            <dd class="col-sm-9">{{ object.time_measured }}</dd>

            <dt class="col-sm-3">Uploaded</dt>
            <dd class="col-sm-9">{{ object.time_created }} (by user '{{ object.user_created }}')</dd>

            <dt class="col-sm-3">Last changed</dt>
            <dd class="col-sm-9">{{ object.time_changed }} (by user '{{ object.user_changed }}')</dd>

            <dt class="col-sm-3">Notes</dt>
            <dd class="col-sm-9">
                <pre>{{ object.notes }}</pre>
            </dd>

            <dt class="col-sm-3">Id</dt>
            <dd class="col-sm-9">{{ object.id }}</dd>

            <dt class="col-sm-3">Raw data</dt>
            <dd class="col-sm-9">
                <pre>{{ object.as_displaytext }}</pre>
            </dd>
        </dl>
        {% else %}
        <p>You don't have permission to view measurements.</p>
        {% endif %}
    </div>
</div>
{% endblock %}