{% extends "base_generic.html" %}

{% block content %}
<div>
    <div class="mb-5">
        <h4>Upload new measurements</h4>
        {% if perms.portal.add_measurement %}
        <div class="input-group p-3 d-flex justify-content-center m-3 border border-primary rounded">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ upload_form }}
                </table>
                <button class="btn btn-outline-primary" type="submit">Upload new data</button>
            </form>
        </div>
        {% else %}
        <p>You don't have permission to add measurements.</p>
        {% endif %}
    </div>
    <div class="mb-5 mt-5">
        <h4>Measurements</h4>
        {% if perms.portal.view_measurement %}
        <form class="col-sm-12" method="get" enctype="multipart/form-data">
            <button class="btn btn-outline-primary" type="submit">Filter by</button>
            {{ group_filter }}
        </form>
        {% include "measurements-table.html" %}
        {% else %}
        <p>You don't have permission to view measurements.</p>
        {% endif %}
    </div>
</div>
{% endblock %}