{% extends "base_generic.html" %}

{% block content %}
<div>
    <div class="mb-5 mt-5">
        <h4>New measurement data</h4>
        {% if perms.portal.add_measurement %}
        <div class="input-group p-3 d-flex justify-content-center m-3 border border-primary rounded">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ upload_form }}
                </table>
                <button class="btn btn-outline-primary" type="submit">Upload new data</button>
            </form>
        </div>
        {% else %}
        <p>You don't have permission to add measurements.</p>
        {% endif %}
    </div>

    <div class="mb-5 mt-5">
        <h4>Measurements</h4>
        {% if perms.portal.view_measurement %}
        <form class="col-sm-12" method="get" enctype="multipart/form-data">
            <button class="btn btn-outline-primary" type="submit">Filter by</button>
            {{ label_filter }}
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Labels</th>
                    <th scope="col">Measured</th>
                    <th scope="col">Source</th>
                    <th scope="col">Uploaded</th>
                </tr>
            </thead>
            <tbody>
                {% for measurement in object_list %}
                <tr>
                    <td scope="row"><a href="{{ measurement.get_absolute_url }}">{{ measurement.name }}</a></td>
                    <td>{{ measurement.labels_as_short_text }}</td>
                    <td>{{ measurement.time_measured }}</td>
                    <td>{{ measurement.source }}</td>
                    <td>{{ measurement.time_created }} (by '{{ measurement.user_created }}')</td>
                </tr>
                {% empty %}
                <tr>
                    <td>EMPTY</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>You don't have permission to view measurements.</p>
        {% endif %}
    </div>
</div>
{% endblock %}