{% extends "base_generic.html" %}

{% block content %}
<div>
    <div class="mb-5 mt-5">
        <h1>Model details</h1>
        {% if perms.portal.view_model %}
        <dl class="row mb-5">
            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9">{{ object.name }}</dd>

            <dt class="col-sm-3">Type</dt>
            <dd class="col-sm-9">{{ object.model_type }}</dd>

            <dt class="col-sm-3">Details</dt>
            <dd class="col-sm-9">
                <pre>{{ object.details_text}}</pre>
            </dd>
        </dl>
        <div class="row mb-5 mt-5">
            <h3 class="col-sm-12">Train the model</h3>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ train_form }}
                </table>
                <button class="btn btn-outline-primary" type="submit">Start training...</button>
            </form>
        </div>
        {% else %}
        <p>You don't have permission to view models.</p>
        {% endif %}
    </div>
</div>
{% endblock %}