{% extends "base_generic.html" %}

{% block content %}
<div>    
    <div class="mb-5 mt-5">
        <h4>Create new models</h4>
        {% if perms.portal.add_model %}
        <div class="input-group p-3 d-flex justify-content-center m-3 border border-primary rounded">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ new_lreg_model_form }}
                </table>
                <button class="btn btn-outline-primary" type="submit" name="new_lreg_model_submit">New linear regression model</button>
            </form>
        </div>
        <!-- <div class="input-group p-3 d-flex justify-content-center m-3 border border-primary rounded">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ new_test_model_form }}
                </table>
                <button class="btn btn-outline-primary" type="submit" name="new_test_model_submit">New test model</button>
            </form>
        </div> -->
        <div class="input-group p-3 d-flex justify-content-center m-3 border border-primary rounded">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ new_simca_model_form }}
                </table>
                <button class="btn btn-outline-primary" type="submit" name="new_simca_model_submit">New SIMCA model</button>
            </form>
        </div>
        {% else %}
        <p>You don't have permission to add models.</p>
        {% endif %}
    </div>
    <div class="mb-5 mt-5">
        <h4>Models</h4>
        {% if perms.portal.view_model %}
        <form class="col-sm-12" method="get" enctype="multipart/form-data">
            <button class="btn btn-outline-primary" type="submit">Filter by</button>
            {{ group_filter }}
        </form>
        {% include "models-table.html" %}
        {% else %}
        <p>You don't have permission to view models.</p>
        {% endif %}
    </div>
</div>
{% endblock %}