{% extends "base_generic.html" %}

{% block content %}
<div>    
    <div class="mb-5 mt-5">
        <h4>Create new models</h4>
        {% if perms.portal.add_model %}
        <div class="input-group p-3 d-flex justify-content-center m-3 border border-primary rounded">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ new_lreg_model_form }}
                </table>
                <button class="btn btn-outline-primary" type="submit" name="new_lreg_model_submit">New linear regression model</button>
            </form>
        </div>
        <!-- <div class="input-group p-3 d-flex justify-content-center m-3 border border-primary rounded">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ new_test_model_form }}
                </table>
                <button class="btn btn-outline-primary" type="submit" name="new_test_model_submit">New test model</button>
            </form>
        </div> -->
        <div class="input-group p-3 d-flex justify-content-center m-3 border border-primary rounded">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ new_simca_model_form }}
                </table>
                <button class="btn btn-outline-primary" type="submit" name="new_simca_model_submit">New SIMCA model</button>
            </form>
        </div>
        {% else %}
        <p>You don't have permission to add models.</p>
        {% endif %}
    </div>
    <div class="mb-5 mt-5">
        <h4>Models</h4>
        {% if perms.portal.view_model %}
        <table class="table">
            <thead>
                <tr colspan="4">
                    <div class="pagination ">
                        {% if models_page.paginator.num_pages > 1 %}
                        <span class="step-links">
                            {% if models_page.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ models_page.previous_page_number }}">previous</a>
                            {% else %}
                            <a>&laquo; first</a>
                            <a>previous</a>
                            {% endif %}

                            <span class="current"> | Page {{ models_page.number }} of
                                {{ models_page.paginator.num_pages }} |
                            </span>

                            {% if models_page.has_next %}
                            <a href="?page={{ models_page.next_page_number }}">next</a>
                            <a href="?page={{ models_page.paginator.num_pages }}">last &raquo;</a>
                            {% else %}
                            <a>next</a>
                            <a>last &raquo;</a>
                            {% endif %}
                        </span>
                        {% endif %}
                    </div>
                </tr>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Last changed</th>
                </tr>
            </thead>
            <tbody>
                {% for model in models_page %}
                <tr>
                    <td scope="row"><a href="{{ model.get_absolute_url }}">{{ model.name }}</a></td>
                    <td>{{ model.get_type.name }}</td>
                    <td>{{ model.time_changed }} (by '{{ model.user_changed }}')</td>
                </tr>
                {% empty %}
                <tr>
                    <td>EMPTY</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>You don't have permission to view models.</p>
        {% endif %}
    </div>
</div>
{% endblock %}